#logo {
    max-width: 100px;
}

#header_nav {
    background-image: url("./img/bagel_1.jfif");
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav {
    padding-top: 20px;
}

.nav_bar {
    background-color: rgba(170, 170, 170, 0.8);
    padding: 10px 0;
    margin-top: 20px;
    max-height: 50px;
}

.nav_item {
    padding: 10px;
}

.nav_title {
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    padding-top: 30px;
    padding-bottom: 150px;
}

.nav_title>p {
    font-size: 25px;
}

.about {
    border: solid;
}

.about_description {
    padding: 40px;
}

h2 {
    padding-bottom: 20px;
}